

.slide-mas{
    height: 300px !important;
     width: 15% !important;


}

.btn-mas{


    position: relative !important;
    top: 39% !important;
    left: 13px !important;

    
    }

    img {
        border-radius: 20px !important;
    }