<swiper-container slides-per-view="1.3"
free-mode="true" space-between="-10">
  <swiper-slide *ngFor="let pares of peliculas | pares;" class="poster2">

    <ion-row  >

      <ion-col size="12" *ngFor="let pelicula of pares">
        <ion-card mode="md" (click)="verDetalle(pelicula.id)" >
          <img class="backdro-img" src="{{URL}}{{pelicula.poster_path}}" class="cover">
          
        </ion-card>
      </ion-col>

      

    </ion-row>

  </swiper-slide>
  
<swiper-slide class="slide-mas">

 <ion-button class="btn-mas" (click)="onClick()" expand="full"  size="large">
  <ion-icon slot="start" name="add" slot="icon-only"></ion-icon>
 </ion-button>

</swiper-slide>


</swiper-container>